# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.vscode
surefire-reports                                                                                        
.DS_Store
